﻿.content {
    margin: auto;
    align-content: center;
    text-align: center;
}

.myTable table, th, tr, td {
    border: 1px solid black;
}

.myTable td, th {
    margin: 5px;
    padding: 5px;
    text-align: center;
    align-content: center;
}

.myTable th {
    background-color: yellow;
}

h {
    text-align: center;
    font-weight: bold;
}


/*.invisibleTable table, th, tr, td {
    border: hidden;
}*/
