﻿@section Scripts {
    @Scripts.Render("~/Scripts/Skripta.js")
    <link rel="stylesheet" href="~/Scripts/MojCSS.css" type="text/css" asp-append-version="true" />
}

@*UZGLAVLJE POCETAK*@
<div class="content" id="dugmiciPocetak">
    <div align="right">
        <button id="btnRegistracija" type="button" class="btn btn-default" style="background-color:yellow; margin:20px">Registracija</button>
        <button id="btnPrijava" type="button" class="btn btn-default" style="margin:20px">Prijava</button>
    </div>
</div>

@*REGISTRACIJA*@
<div id="registracija" class="content" style="display:none">
    <br />
    <h3>Registracija</h3><br />
    <form id="formaRegistracija" class="form-inline" method="post" action="post/">
        <label for="emailReg" style="width:120px; text-align:left">Korisnicko ime: </label>
        <input type="email" id="emailReg" /><br /><br />
        <label for="pwdReg" style="width:120px; text-align:left">Lozinka: </label>
        <input type="password" id="pwdReg" /><br /><br />
        <label for="pwdConfirm" style="width:120px; text-align:left">Ponovi lozinku: </label>
        <input type="password" id="pwdConfirm" /><br /><br />
        <button id="btnOdustani" type="button" class="btn btn-default" style="background-color:yellow; margin:20px">Odustajanje</button>
        <button type="submit" class="btn btn-default">Registracija</button>
    </form>
</div>

@*PORUKA REGISTRACIJA*@
<div class="content" id="porukaReg" style="display:none">
    <br />
    <h5 style="font-weight:bold">Uspesna registracija na sistem</h5>
    <button id="btnPrijavSe" type="button" class="btn btn-default">Prijava na sistem</button>
</div>

@*PRIJAVA*@
<div id="prijava" class="content" style="display:none">
    <br />
    <h3>Prijava</h3><br />
    <form id="formaPrijava" class="form-inline" method="post" action="post/">
        <label for="email" style="width:120px; text-align:left">Korisnicko ime: </label>
        <input type="email" id="email" /><br /><br />
        <label for="pwd" style="width:120px; text-align:left">Lozinka: </label>
        <input type="password" id="pwd" /><br />
        <button id="btnOdustaniPrijava" type="button" class="btn btn-default" style="background-color:yellow; margin:20px">Odustajanje</button>
        <button type="submit" class="btn btn-default">Priajva</button>
    </form>
</div>

@*PRIJAVLJENI KORISNIK*@
<div id="prijavljeniKorisnik" class="content" style="display:none">
    <br />
    <span style="float:left">
        <span>Prijavljeni korisnik: </span>
        <span id="korisnik"></span>
    </span>
    <span style="float:right">
        <button id="btnOdjava" class="btn btn-default" style="text-align:right; background-color:yellow">Odjava</button>
    </span><br /><br />
</div>

@*PRETRAGE*@
<div class="content" id="filteri" style="display:none">
    <br />
    <table align="center" style="border:hidden; width:100%">
        <tr>
            <td style="text-align:center; border:none; width:50%">
                <h4 style="font-weight:bold">Petraga po kapacitetu:</h4><br />
                <form id="formaPretraga" class="form-inline" method="post" action="post/">
                    <label for="min" style="width:150px; text-align:right">Najmanje soba: </label>
                    <input type="number" id="min" style="width:80px" /><br /><br />
                    <label for="max" style="width:150px; text-align:right">Najvise soba: </label>
                    <input type="number" id="max" style="width:80px" /><br />
                    <button type="submit" class="btn btn-default" style="margin:20px">Pretraga</button>
                </form>
            </td>
            <td style="border:none; width:50%">
                <h4 style="font-weight:bold">Hotelski lanci sa najduzom tradicijom:</h4><br />
                <button id="btnUcitavanje" class="btn btn-default" type="button">Ucitavanje</button>
                <div id="lista" align="center" style="display: none; text-align: left"></div>
            </td>
        </tr>
    </table>
</div>

@*TABELA SA HOTELIMA*@
<div id="hotels" class="content">
    <br />
    <h2>Hoteli</h2>
    <div id="tabela" align="center"></div>
</div>

@*DODAVANJE*@
<div id="dodavanje" class="content" style="display:none">
    <br />
    <h3>Dodavanje novog hotela</h3><br />
    <form id="formaDodavanje" method="post" action="post/">
        <table align="center" style="border: hidden">
            <tr style="border: hidden">
                <td style="text-align: left; width:135px; border: hidden">
                    <label for="lanac">Lanac: </label><br /><br />
                    <label for="naziv">Naziv: </label><br /><br />
                    <label for="godina">Godina otvaranja: </label><br /><br />
                    <label for="sobe">Broj soba: </label><br /><br />
                    <label for="zaposleni">Broj zaposlenih: </label><br /><br />
                </td>
                <td style="text-align: right; width:180px; border: hidden">
                    <select id="lanac" name=""></select><br /><br />
                    <input type="text" id="naziv" /><br /><br />
                    <input type="number" id="godina" style="width: 90px" /><br /><br />
                    <input type="number" id="sobe" style="width: 90px" /><br /><br />
                    <input type="number" id="zaposleni" style="width: 90px" /><br /><br />
                </td>
            </tr>
            <tr>
                <td style="text-align: center; border: hidden">
                    <button id="btnOdustaniDodavanje" type="button" class="btn btn-default" style="background-color:yellow">Odustajanje</button>
                </td>
                <td style="text-align: center; border: hidden">
                    <button type="submit" class="btn btn-default">Dodavanje</button>
                </td>
            </tr>
        </table>
    </form>
</div>
